.example-card {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .image-rounded {
    
    background-size: cover;
    border-radius: 10%;
    border:3px solid maroon;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  input{

    font-style: oblique;
    font-weight: bold;
    color:maroon;
  }